body { font-family:'Open Sans', sans-serif; color:#757575; }
h2,h3,h4,h5,h6 { margin: 0; }
ul {padding: 0; margin: 0}
li {list-style: none;}
p {margin: 0; }
a {text-decoration: none;outline: none;}
a:hover {text-decoration: none;}
img {max-width: 100%;}
.home-page-layout .banner h2 {color: #fff;font-size: 60px;text-transform: uppercase;font-weight: 300;margin-bottom: 30px;}
h3 {font-size: 30px; color: #383838;}
h4 {font-size: 24px; color: #fff;}
h5 {font-size: 20px; color: #383838;font-weight: 700;}
h6 {font-size: 13px; color: #383838;}

.sticky .header { background:#464646; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); top: 0; padding: 7px 0; }
.header { float: left; left: 0; position: fixed; padding: 30px 0; top: 0; width: 100%; z-index: 1;
    transition: all 0.5s ease 0s; }
.mobile-view-logo { display: none; }
.logo > a { display: inline-block; }
.navigation {
    display: inline-block;
    text-align: right;
    width: 100%;
}
.navigation ul { float: right; margin-top: 6px; }
.navigation > ul > li { float: left; padding: 0 6px; }
.header-inner .menu-btn {  display: none; }
.navigation li:nth-child(2n) {  border-right: 1px solid #989aa2;}

.btn1{ border: 1px solid #e97224; background: #e97224; font-size:13px; font-weight:600; border-radius: 30px; float:left;
    padding: 9px 25px; transition: all 0.3s ease 0s; color:#ffffff; }
.btn1:hover, .btn1:focus {background:#d86414; border: 1px solid #d86414; color: #fff; text-decoration-line: none;}

.btn-o { font-size:13px; border: 1px solid #ffffff; background:none; font-size:13px; font-weight: 700; border-radius: 30px;
    float:left; padding: 9px 25px; transition: all 0.3s ease 0s; color:#ffffff; }
.btn-o:hover, .btn-o:focus {background:#ffffff; color: #383838; text-decoration-line: none;}

.header-inner { float: left; width: 100%; position: relative; padding-right: 135px; }

.navigation ul {display: inline-block; font-size: 0;margin-top: 6px;}

.btn-sign-in { margin-right: 20px;}
.btn-upload { margin-left: 20px;}
.home-page-layout .cart { float: right; padding: 9px 0 8px 22px; position: absolute; right: 0; top: 0; color:#ffffff; }
.cart > img {  margin-right: 15px;}
.banner {   
    float: left;
    padding: 230px 0 215px;
    text-align: center;
    width: 100%;
}
.bg-home-page {
    background-image: url("../images/banner_01.jpg");
    background-position: center center;
    background-size: cover;
}
.search-item { float: left; width: 100%; position: relative; padding-right: 70px; }
.search-item input { border: medium none; border-radius: 2px 0 0 2px; padding: 19px; width: 100%; }
.search-item .search-icon {
    background: #e97224 url("../images/search_03.png") no-repeat scroll center center;
    border-radius: 0 2px 2px 0;
    max-width: 70px;
    padding: 19px 20px;
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
}
.cart-dd-icon {color: #e97224; display: inline-block; padding-left: 10px; }
.content-section-wrapper h3 {  margin: 0 0 35px; }
.categories-item {  border-top: 1px solid #ddd;}
.categories-item h5 { 
    background: #ffffff none repeat scroll 0 0;
    display: inline-block;
    font-size: 18px;
    padding: 0 15px;
    position: relative;
    top: -15px;
}
.content-section-wrapper { float: left; padding: 60px 0 20px; text-align: center; width: 100%; }
.content-section-item { margin: 0 0 30px; }
.content-item h5 { margin: 0 0 20px; }
.content-item { border: 1px solid #e6e6e6; padding: 30px 20px; min-height: 220px;}
.content-item p { margin: 0 0 20px; }
.content-item > a { color: #e97224; display: inline-block; transition: all 0.3s ease 0s; }
.content-item > a:hover {color: #252525;}
.testimonial { background: #efece8; padding: 55px 0; text-align: center; float: left;width: 100%; }
.testimonial > h3 { margin: 0 0 24px;}
.testimonial-item { margin: 0 0 30px; }
.testimonial-item > img { margin: 0 0 20px; }
.testimonial h6 { color: #252525; font-weight: 700; margin: 0 0 15px; }
.testimonial span {color: #e97224; display: inline-block; font-weight: 600; margin: 0 0 5px;}
.testimonial-item > p { font-size: 13px; }
.signup-section {
    background-image: url("../images/banner-2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    padding: 75px 0;
    text-align: center;
    width: 100%;
}
.signup-section h3 { color: #ffffff; margin: 0 0 30px; }
.signup-heading { text-align: left; margin: 0 0 25px; }
.signup-heading > span { color: #e97224; font-weight: 700; }
.signup-item { margin: 0 0 20px; padding: 12px 0 12px 95px; min-height: 70px; position: relative; text-align: left; }
.signup-item > img { border: 1px solid #ffffff; border-radius: 50%; left: 0;  position: absolute; top: 0; }
.signup-item > p {  color: #ffffff; font-size: 16px; }
.signup-content > p { padding-top: 11px; }
.signup-form {background-color: rgba(70, 70, 70, 0.5);padding: 30px;text-align: left;}
.signup-form input {border: medium none;border-radius: 3px;color: #000000; font-size: 13px; margin: 0 0 30px;
    padding: 10px 15px;width: 100%;}

/*.signup-form input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
    width: auto;
}
label {
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    line-height: 2.5;
    margin-bottom: 0;
    vertical-align: top;
    width: calc(100% - 25px);
}
*/

.signup-form input[type="checkbox"] { display:none; }
.signup-form input[type="checkbox"] + label small {
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    line-height: 2;
    margin: 0 0 0 5px;
}
.signup-form label { margin: 0;}
.signup-form input[type="checkbox"] + label > span {
    display:inline-block;
    margin-top: 8px;
    width:22px;
    height:22px;    
    vertical-align:top;
    background:url("../images/checked-img.png") left top no-repeat;
    cursor:pointer;
}

.signup-form input[type="checkbox"]:checked + label span {
    background:url("../images/checked-img.png") -27px top no-repeat;
}
.signup-form .btn-signup { 
    background: #e97224; 
    color: #ffffff; 
    font-weight: 700; 
    margin: 0 0 10px; 
    text-transform: uppercase; 
}
.signup-form a {
    color: #e97224;
    text-transform: capitalize;
}
.footer {
    background: #464646;
    float: left;
    padding: 50px 0 0;
    width: 100%;
}
.footer-item {
    margin: 0 0 30px;
}
.footer-item > h6 {
    color: #e97224;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.footer-item a {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 4px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
    color:#ffffff;
}
.footer-item a:hover {color: #666666;}
.footer-social-icon > ul {padding:0 0 20px; font-size: 0;}
.footer-social-icon li {
    display: inline-block;
    padding: 0 4px;
}
.footer-social-icon a {
    background: #666666;
    border-radius: 50%;
    display: inline-block;
    height: 32px;
    line-height: 1;
    margin: 0;
    font-size: 16px;
    padding: 8px 10px;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 32px;
}
.footer-social-icon a:hover, .footer-social-icon a:active, .footer-social-icon a:focus {
    background: #e97224; color: #fff;
    text-decoration-line: none;
}
.footer-social-icon li:first-child { padding-left: 0;}
.footer-social-icon > h6 { margin: 0 0 15px;}
.copyright {
    border-top: 1px solid #626262;
    float: left;
    margin-top: 18px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
}
.copyright > p {  font-size: 13px;}
.footer-social-icon .btn-blog {
    background: #666666;
    color: #fff;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    font-size: 13px;
    padding: 10px 67px;
    text-align: center;
    width: auto;
}



/*Layout 2 Header*/

body.layout-2 {
    padding-top:70px;
}
.layout-2 .header {
    background-color: #ffffff;
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.layout-2 header .btn-o {
    border-color: #dddddd;
    color: #e97224;
}
.layout-2 header .btn-o:hover {
    border-color: #e97224;
    background-color:#e97224;
    color: #ffffff;
}
.layout-2 .navigation li:nth-child(2n) {
    border-right: 1px solid #dddddd;
}
.layout-2 .cart { float: right; padding: 9px 0 8px 22px; position: absolute; right: 0; top: 0; color:#757575; }
.layout-2 section.content {
    float: left;
    padding: 120px 0;
    text-align: center;
    width: 100%;
}
.layout-2 .content h2 {
    color: #383838;
    font-size: 30px;
    margin: 0 0 50px;
}
.layout-2 .content h4 {
    color: #383838;
    font-size: 18px;
    margin: 0 0 20px;
}
.layout-2 .content a {
    border: 1px solid #e97224;
    color: #e97226;
    display: inline-block;    
    font-size: 13px;
    font-weight: 600;
    padding: 10px 13px;
    text-transform: uppercase;
}
.layout-2 .content .forgot-password {
    border-bottom: 1px solid #ddd;
    border-top : none;    
    border-left : none; 
    border-right : none; 
    color: #757575;  
    padding: 0; 
    width: 100%;
    text-transform: capitalize; 
    padding: 0 0 25px;
    transition: all 0.3s ease 0s;
}
.layout-2 .content .forgot-password:hover, .layout-2 .content .forgot-password:focus {color: rgb(235,112,53); text-decoration-line: none;}
.signup-note .text-center a {
    border: medium none;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-transform: none;
}
.signup-s1-icon {
    background: #e97224 none repeat scroll 0 0;
    border-radius: 50%;
    color: #ffffff;
    display: inline-block;
    font-size: 24px;
    height: 55px;
    line-height: 51px;
    margin: 0 0 25px;
    width: 55px;
}
.border-right { border-right: 1px solid #dddddd;}
.layout-2 .content p {color: #757575; font-size: 13px; margin-bottom: 15px;}
.layout-2 .sign-up-form h2 { color: #000000; font-size: 20px; text-align: center; }
.form-field { float: left; width: 100%; margin-bottom:20px; }
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"] { 
    width: 100%; 
    border:1px solid #dddddd; 
    padding:10px 12px; 
    border-radius:2px; 
    font-size:13px; 
}
.form-field button.submit-btn {
    background-color: #e97224;
    border: medium none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    width: 100%;
}
.form-field input.submit-btn:hover { background-color: #d86414; }
.layout-2 .sign-up-form h2 {
    color: #383838;
    font-size: 30px;
    text-align: center;
    text-transform: none;
}
.sign-up-form {    
    float: left;
    width: 100%;
}
.su-divider {
    border-top: 1px solid;
    float: left;
    text-align: center;
    width: 100%;
}
.su-divider > span {
    background-color: #ffffff;
    display: inline-block;
    font-size: 13px;
    padding: 0 15px;
    position: relative;
    top: -15px;
}
.signup-social {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.layout-2 .signup-social .su-fb-btn {
    border : none;
    background-color: #3b5998;
    border-radius: 2px;
    color: #ffffff;
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: none;
}
.layout-2 .signup-social .su-fb-btn:hover { color:#ffffff; background-color:#284c8a; }

.layout-2 .signup-social .su-gp-btn {
    border :none;
    background-color: #e94333;
    border-radius: 2px;
    color: #ffffff;
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-transform: none;
}
.layout-2 .signup-social .su-gp-btn:hover { color:#ffffff; background-color:#d93228; }
.signup-note {float: left; font-size: 13px; width: 100%;padding-top: 30px; }
.su-fb-btn i{margin-right: 5px;}
.signup-note > p { margin-bottom: 10px; }
.signup-note a { color:#e97224; }

.signup-note .su-terms {
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.form-field.remember-me {
    font-size: 13px;
}
.form-field.remember-me label{ font-weight: 400; }
.form-field.remember-me label {
    font-weight: 400;
    margin-left: 3px;
    position: relative;
    top: -2px;
    margin-bottom: 0;
}
.header-form {
    display: inline-block;
    margin: 5px 25px 0 0;
    max-width: 420px;
    padding-right: 45px;
    position: relative;
    text-align: right;
    width: 100%;
}
.header-form input {
    background: rgba(96, 96, 96, 0.5) none repeat scroll 0 0;
    border: medium none;
    border-radius: 30px 0 0 30px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 10px 20px;
    width: 100%;
}
.header-form .searchicon {
    background-image: url("../images/search-img-2.png");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
}
.bg-plan-pricing{
    background-image: url(../images/banner-2_01.jpg);
    background-size: cover;
    background-position: center;
}
.home-page-layout .bg-plan-pricing .banner-heading {
    margin: 0;
    text-transform: none;
}
.simple-pricing-section {
    float: left;
    padding: 50px 0 20px;
    text-align: center;
    width: 100%;
}
.simple-pricing-section h3 {
    font-size: 40px;
    margin-bottom: 10px;
    width: 100%;
}
.simple-pricing-section p {width: 100%; font-size: 20px; color: #383838; margin-bottom: 30px;}
.simple-pricing-content {
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin: 0 0 30px;
    padding-top: 25px;
}
.simple-pricing-content > h3 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}
.simple-pricing-content > p {
    display: inline-block;
    font-size: 14px;  
}
.simple-pricing-content > ul {
    font-size: 0;
    padding: 0 30px;
}
.simple-pricing-content li {
    border-top: 1px solid #dddddd;
    padding: 16px 60px 23px 0;
    position: relative;
}
.amount {
    color: #757575;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 24px;
}
.product-offer {    
    padding: 0 0 10px 22px;
    position: relative;
    text-align: left;
}
.product-offer > input {
    left: 0;
    position: absolute;
    top: 13px;
}
.product-offer > span { 
     color: #757575;
    font-size: 14px;    
}
.product-offer > small {
    color: #e97224;
    font-size: 12px;
    left: 24px;
    position: absolute;
    top: 18px;
}
.simple-pricing-content > ul > .plan-detail { padding: 24.6px 0}
.monthly-plans { padding: 0 0 0 22px;}
.monthly-plans > input { top: 4px;}



.btn-main {
    background: #efece8 none repeat scroll 0 0;
    padding: 30px;
}
.btn-continue {
    background: #e97224 none repeat scroll 0 0;
    border-radius: 3px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.btn-continue:hover, .btn-continue:active, .btn-continue:focus {
    background: #d86414; 
    color: #fff;
    text-decoration-line: none;
}
.brand-logoes {
    background: #efece8 none repeat scroll 0 0;
    float: left;
    padding: 40px 0 10px;
    text-align: center;
    width: 100%;
}
.brand-logoes h3 { margin: 0 0 20px;}
.logo-item { margin: 0 0 30px;}
.logo-item > a { display: inline-block;}
.enterprise-plans {
    float: left;
    padding: 40px 0 20px;
    text-align: center;
    width: 100%;
}
.enterprise-plans-content { margin: 0 0 20px;}
.enterprise-plans h3 { margin: 0 0 20px;}
.enterprise-plans-content > img {  float: right;}
.enterprise-plans-content li {
    padding: 0 0 10px 15px;
    position: relative;
}
.enterprise-plans-content li i {
    color: #e97224;
    font-size: 16px;
    left: 0;
    position: absolute;
    top: 2px;
}
.enterprise-plans-content li p {
    color: #757575;
    font-size: 13px;
    text-align: left;
}
.btn-contact-us {
    background: #e97224 none repeat scroll 0 0;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    display: inline-block;
    font-weight: 700;
    padding: 12px 40px;
    text-transform: uppercase;
}
.btn-contact-us:hover, .btn-contact-us:active, .btn-contact-us:focus {
    background: #d86414; 
    color: #fff;
    text-decoration-line: none;
}
.questions-and-answers {
    float: left;
    padding-top: 50px;
    width: 100%;
}
.questions-and-answers > h3 { margin: 0 0 34px;}
.questions-and-answers-item {margin: 0 0 30px;  text-align: left;}
.questions-and-answers-item > h6 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
}
.questions-and-answers-item > p { color: #757575;  font-size: 13px;}
.checkbox > input [type="checkbox"] {
    border: 1px solid #000;
    border-radius: 50%;
    background: red; 
}
.bg-collections {
    background-image: url("../images/banner-3.jpg");
    background-position: center center;
    background-size: cover;
}
.collections-header input {
    background: rgba(96, 96, 96, 0.2) none repeat scroll 0 0;
    -moz-placeholder color: #fff;
    -webkit- color: #fff;
}
.header-form input::-moz-placeholder {
    color: #fff;    
    opacity: 1;
}
.header-form input::placeholder {
    color: #fff;    
    opacity: 1;
}
.header-form input::-o-placeholder {
    color: #fff;    
    opacity: 1;
}

.collections-header input::-moz-placeholder {
    color: #fff;    
    opacity: 1;
}
.collections-header input::-o-placeholder {
    color: #fff;   
    
}

.collections-header input::placeholder { color: #fff;}

.home-page-layout .bg-collections .banner-heading {
    margin: 0;
    text-transform: none;
}
.tab-section {
    float: left;
    padding: 30px 0;
    text-align: center;
    width: 100%;
}
#filters {
    border-bottom: 1px solid #dddddd;
    font-size: 0;
}
#filters > li {
    display: inline-block;
}
#filters a {
    color: #383838;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    padding: 17px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
#filters a:hover, #filters a:active, #filters a:focus {
    color: #e97224; 
    box-shadow: 0 5px 0 0 #e97224; 
    text-decoration-line: none;
}
.fresh-collection {  padding: 30px 0 0;}
.fresh-collection > h3 { font-size: 40px;  margin: 0 0 25px;}
.tab-inner-item {  margin: 0 0 30px;}
.tab-inner-item > img { margin: 0 0 15px;}
.tab-inner-item h5 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}





.bg-faq {
    background-image: url("../images/banner-4.jpg");
    background-position: center center;
    background-size: cover;
}
.general-questions {
    float: left;
    padding: 50px 0;
    width: 100%;
}
.questions { margin: 0 0 30px;}
.questions > h5 { text-transform: uppercase;}
.questions h6 {
    font-size: 14px;
    font-weight: 700; 
    margin-right: 20px;
    cursor: pointer;  
}
.questions h6 i {
    color: #e97224;
    float: right;
    font-size: 20px;   
    transition: .4s;
}
.questions p {
    font-size: 13px;
    margin: 8px 50px 20px 0;
    display: none;
}
.questions li {
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.questions h6.angle-down i {
    transform: rotate(180deg);
}
.forgot-pasword {
    float: left;
    padding: 165px 0;
    text-align: center;
    width: 100%;
}
.forgot-pasword h2 {
    color: #383838;
    font-size: 30px;
    margin: 0 0 5px;
}
.forgot-pasword p {
    font-size: 13px;
    margin: 0 0 30px;
}









@media(min-width: 993px) and (max-width: 1280px) {
    .logo img { max-width: 230px;}
    .footer-social-icon a {font-size: 12px; padding: 6px; width: 25px; height: 25px;}
    .footer-social-icon .btn-blog {padding: 10px 50px;}
    .navigation ul {margin-top: 1px;}
    .banner h2 {  font-size: 55px;}
    .Layout-3-header .header-form { margin: 0 15px 0 0; max-width: 190px;}
    .content-item h5 {font-size: 17px;}
    .signup-form input[type="checkbox"] + label small {width: 100%; max-width: 350px;}
}

@media(max-width: 992px) {
    .logo img { max-width: 230px;}
    .navigation ul {margin-top: 1px;}
    .header .container { float: left; width: 100%;}
    .footer-social-icon a {font-size: 12px; padding: 7px; width: 25px; height: 25px;}
    .footer-social-icon .btn-blog {padding: 10px 50px;}   
    .signup-content > p {  padding-top: 0;}
    .btn-sign-in { margin-right: 10px;}
    .btn-upload {  margin-left: 10px;}
    .cart { margin-left: 0;}
    .cart > img {margin-right: 0;}
    .btn-green-o {padding: 8px 19px;}
    .content-item { min-height: 202px;}
    .content-item h5 {font-size: 17px;}
    .content-item p {font-size: 15px; margin: 0 0 10px;}
    .btn-o,.btn1 {padding: 8px 20px;}
    .Layout-3-header .header-form { margin: 4px 0 10px 0; max-width: 310px;}
    .header-inner-section .menu-btn { 
        border: medium none;
        margin: 0;
        display: inline-block;
        padding: 0;
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        right: 120px;
        top: 3px;
    }
    .header-inner-section .menu-btn a{ font-size: inherit; color: inherit; }
    .header-inner-section .navigation {text-align: center;}
    .header-inner-section .navigation ul {float: none;}
    .signup-form label {font-size: 0;}
    .signup-form input[type="checkbox"] + label small { width: calc(100% - 27px);}
}


@media(max-width: 767px) {
    .home-page-layout .banner h2 {font-size: 38px;}
    .cart {padding: 3px 0;}
    .mobile-view-logo img { width: 50px;}
    .navigation {display: none;}
    .header-inner .menu-btn { 
        border: medium none;
        margin: 0;
        display: inline-block;
        padding: 0;
        color: #ffffff;
        font-size: 20px;
        position: absolute;
        right: 120px;
        top: 3px;
    }
    .header-inner .layout-2-menu-btn { color: rgb(233,114,36);}
    .header-inner .layout-2-menu-btn a:hover { color: rgb(233,114,36);}
    .navigation ul {float: none;}
    .header-inner .menu-btn a{ font-size: inherit; color: inherit; }
    .menu-btn > a:hover {color: #fff;} 
    .mobile-view-logo > a {  display: inline-block;}
    .header-inner { padding-right: 0;}
    .navigation { float: none; text-align: center;}
    .logo {display: none;}
    .mobile-view-logo { display: block;padding-right: 120px;  margin-bottom: 15px;}
    .banner {padding: 180px 0 165px;}    
    .navigation li:first-child {  padding-left: 0;}
    .search-item input {padding: 12px 80px 12px 20px;}
    .search-item .search-icon {padding: 12px 20px;}
    .content-section-wrapper {padding: 30px 0 0;} 
    .testimonial {padding: 30px 0 0;}
    .signup-heading {font-size: 22px;}
    .signup-section {padding: 30px 0;}
    .footer {padding: 30px 0 0;}
    .copyright {margin-top: 0;}
    .testimonial-item > p { display: inline-block; max-width: 310px;} 
    .content-item {  min-height: 244px;}
    .header {padding:10px 0; }
    .layout-2 section.content {padding: 20px 0;}
    .border-right { border-right: medium none;}
    .layout-2 .content a {margin-bottom: 20px;}
    .signup-note {padding: 0;}
    .layout-2 .content p {max-width: 310px; display: inline-block;}
    .layout-2 .content h2 {margin-bottom: 20px;}
    .Layout-3-header .header-form {  margin: 0 10px 10px; vertical-align: top; max-width: auto;}
    .Layout-3-header .mobile-view-logo {margin-bottom: 15px;}
    .content-item > a {font-size: 14px;}
    
}
@media(max-width: 575px) {
/*btn-green-o { display: none;}
.mobile-view {display: inline-block; font-weight: 700;  padding: 12px 5px;}
.mobile-view:hover {color: #fff;}
.navigation li:nth-child(2n) { border-right: medium none;}
.cart select {display: none;}*/
.navigation li:nth-child(2n) { border-right: medium none;}
.btn-sign-in { margin-right: 0;}
.btn-upload { margin-left: 0;}
.btn-green-o { font-size: 12px; padding: 6px 15px;}
.cart > img {  margin-right: 0;}
 .content-item {  min-height: auto;}   
 .banner h2 {  font-size: 27px;}
 .signup-item > p {font-size: 15px;}
 .signup-heading {text-align: center;}
 .content-section-wrapper h3 {font-size: 18px;}
 .footer {text-align: center;}
 .signup-item { max-width: 310px; padding: 0; text-align: center; display: inline-block;}
 .signup-item > img { margin: 0 0 10px;  position: relative;}
 .Layout-3-header .header-form {margin: 0 0 10px;}
 .enterprise-plans-content > img { float: none;}
 .enterprise-plans-content { display: inline-block;  margin: 0 0 20px;  text-align: center;}
 .questions-and-answers-item {display: inline-block; max-width: 310px; text-align: center;}
.simple-pricing-section h3 {font-size: 34px;}
.simple-pricing-content > h3 {font-size: 24px;}
.brand-logoes h3 {font-size: 24px;}
.enterprise-plans h3 {font-size: 24px;}
.layout-2 .content a {font-size: 12px;}



}